*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


.container{
  width: 75%;
  max-width:1141px;
  margin: 0 auto;
}

body{
   font-family: "Work Sans", sans-serif; 
}

img{
  max-width: 100%;
  height: auto;
}
/* individual design */

header{

  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}

.main_container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 216px 0 168px;
}


.content{
  flex: 0 0 45%;
  max-width: 525px;
  text-align: right;
  padding-right: 2px;
}

.content h2{
  font-size: 65px;
  font-weight: bold;
  color:#151414 ;
  margin-bottom: 24px;
}

.content p{
  line-height: 26px;
  color: #444343;
  margin-bottom:32px ;
  padding: 0 0 0 10px;
}

.content button{
  padding:21px 26px ;
  background-color: #F15B22;
  color:#FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}




.failure_main{

   padding: 138px 0;
  display: flex;
justify-content: center;
align-items: center;
  gap: 87px;
}


.img_area{
/* width: 47%; */
max-width: 569px;
}







.failures_list {

  max-width: 416px;
margin: auto 0;
}


.failures_list h3{

font-size: 40px;
font-weight: bold;
color: #151414;
margin-bottom: 24px;
}


.failures_list p{
 line-height: 26px;
 color: #444343; 
 margin-bottom:16px ;

}

#my_plans{
  text-align: center;
}
.plan_main{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#my_plans h3{
  font-size: 40px;
  font-weight: bold;
  color: #151414;
margin-bottom: 50px;
}

.plan{

  max-width: 218px;
 
}


.plan img{
  width: 93px; 
  height: 93px;
 margin-bottom: 24px;
}

.plan h4{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

#mindset_show{
  padding: 130px 0;
}


.mind_main{
  width: 75%;
  max-width:1135px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 59px 64px ;
  background-image: url(../images/watch.png);
  position: relative;
  z-index: 1;
}

.mind_main::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image:url(../images/gradient2.png) ;
  top: 0;
  left: 0;
border-radius: 8px;
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;
  z-index: 2;
}


.mind{
   max-width: 460px;
z-index: 2;
position: relative;
}
.mind h2{
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 25px;
}


.btn{
  padding: 21px 36px;
  background-color:#FFFFFF ;
  color:#F15B22 ;
  border-radius: 5px;
border: none;
cursor: pointer;
}

 
#footer{
  padding: 130px 230px;
background-color:#151414 ;
}

.footer_main{
  display: flex;
  justify-content: space-between;
 
}




.left_container{
max-width: 485px;

}

.left_container h3{
  font-size: 45px;
  font-weight: bold;
  color: #F8F8F8;
  margin-bottom: 16px;
}

.left_container p{
  line-height: 26px;
  margin: 16px;
  color: #FFFFFF;
}

.left_container .logo_area{
  display: flex;
  gap: 18px;
}

.right_container{
max-width: 325px;
}


.right_container h3{
font-size: 25px;
font-weight: 400;
margin-bottom: 30px;
color: #F3F3F3;
}

.right_container .input input{
margin-bottom:16px ;
padding: 15px;
border-radius: 5px;
color:#F3F3F3 ;
background-color: #151414;
border: 1px solid #F3F3F3;
}

